<html>

<head>
  <title>NetCheck</title>
  <!-- Darkly bootstrap theme -->
  <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet">
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <!-- jQuery Core 3.6.0 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- jQuery UI -->
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <!-- htmx -->
  <script src="https://unpkg.com/htmx.org@1.8.0"
    integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc"
    crossorigin="anonymous"></script>
  <!-- Custom JS file -->
  <script type="text/javascript" src="{{ url_for('static', path='/js/netcheck.js') }}"></script>
  <!-- Custom CSS -->
  <link href="{{ url_for('static', path='/css/netcheck.css') }}" rel="stylesheet">
</head>

<body>
  <h1 style="margin-left: 20px;">NetCheck</h1>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
        <li class="nav-item">
          <a class="nav-link" href="/inventory">Inventory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/validation">Validation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/custom-validation">Custom Validation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/analysis">Analysis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/custom-results">Results</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  {% block content -%}
  {%- endblock content %}
</body>

</html>