{% extends "base.html" %}

{% block content %}
<div class="card border-primary mb-3" style="max-width: 45rem; margin-left: 20px;">
    <div class="card-header"></div>
    <div class="card-body">
      <h4 class="card-title">Welcome to NetCheck!</h4>
      <p class="card-text">
          NetCheck is a tool that can be used to validate and test a particular device before or after a change.
          The goal is to provide tests to cover some of the common use cases. Currently, the tool will provide tests
          for the following use cases:</p>
          <u>Post-Install:</u>
          <ul>
              <li>Circuit Upgrade</li>
          </ul>
          <u>Analysis:</u>
          <ul>
              <li>Integration with Batfish...</li>
          </ul>
    </div>
  </div>
    
{% endblock %}