{% extends "base.html" %}

{% block content %}
<div class="row">
<div class="col-lg-8">
      <div class="card border-primary mb-3" style="margin-left: 20px;">
          <div class="card-header"></div>
            <div class="card-body">
              <h4 class="card-title">Device Inventory</h4>
              <p class="card-text">
                <div hx-get="/partials/inventory-table" hx-trigger="load, every 5s">
                </div>
              </p>
            </div>
      </div>
</div>

<div class="col-lg-4">
  <div class="card border-primary mb-3" style="margin-right: 20px;">
    <div class="card-header"></div>
      <div class="card-body">
        <h4 class="card-title">Add a Device</h4>
        <br>
            <form id="addDevice" name="addDevice" method="post"
              action="addDevice" class="needs-validation" novalidate>
              <div class="form-outline">
                  <label class="form-label" for="deviceHostname">Device Hostname:</label>
                  <input type="text" class="form-control" name="deviceHostname" id="deviceHostname"
                      placeholder="Enter device hostname..." required />
                  <div class="invalid-feedback">Please enter a device hostname.</div>
              </div>
              <br>
              <div class="form-outline">
                  <label class="form-label" for="deviceIp">Device IP:</label>
                  <input type="text" class="form-control" name="deviceIp" id="deviceIp" placeholder="Enter device IP..." pattern="^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$" required />
                  <div class="invalid-feedback">Please enter a valid IPv4 address.</div>
              </div>
              <br>
              {% if add_status is not none -%}
              {% if add_status -%}
              <p class="text-success">Device was successfully added to the inventory!</p>
              {% else -%}
              <p class="text-danger">Something went wrong. Device was not added to the inventory.</p>
              {% endif -%}
              {% endif -%}
              <button type="submit" id="deviceAddSubmit" class="btn btn-success">Submit</button>
            </form>
    </div>
  </div>
</div>
</div>
    
{% endblock %}