{% extends "base.html" %}

{% block content %}
<div class="row">
<div class="col-lg-8">
      <div class="card border-primary mb-3" style="margin-left: 20px;">
          <div class="card-header"></div>
            <div class="card-body">
              <h4 class="card-title">Devices</h4>
              <p class="card-text">
                <div hx-get="/partials/inventory-table" hx-trigger="load, every 5s">
                </div>
              </p>
            </div>
      </div>
</div>

<div class="col-lg-4">
  <div class="card border-primary mb-3" style="margin-right: 20px;">
    <div class="card-header"></div>
      <div class="card-body">
        <h4 class="card-title">Add a Device</h4>
        <br>
            <form id="addDevice" name="addDevice" method="post"
              action="addDevice">
              <div>
                  <label>Device Hostname:</label>
                  <input type="text" name="deviceHostname" id="deviceHostname"
                      placeholder="Enter device hostname..." />
              </div>
              <br>
              <div>
                  <label>Choose Device OS:</label>
                  <select name="deviceOsType" id="deviceOsType">
                      <option disabled selected value>--</option>
                      <option value="iosxe">IOS-XE</option>
                      <option value="ios">IOS</option>
                  </select>
              </div>
              <br>
              <div>
                  <label>Device IP:</label>
                  <input type="text" name="deviceIp" id="deviceIp" placeholder="Enter device IP..." />
              </div>
              <br>

              <button type="submit" id="deviceAddSubmit" class="btn btn-success">Submit</button>
            </form>
    </div>
  </div>
</div>
</div>
    
{% endblock %}